/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
margin: 0;
}
.active{ 
 color: rgb(207, 37, 226);
}

.ul{
  list-style: none;
}