.title{
display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 300px;
    font-size: 60px;
    left: 272px;

    color: white;
}

.div{
    background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        width: 1450px;
        height: 800px;
}